$primary-background:#ffffff;
$whiteColor: white;
$blackColor: rgb(26,26,26);
$label-color: rgb(246, 245, 245);
$error-color: #bf1650;

$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

@mixin buttonStyle($color, $font-size) {
    display: block;
    background: $color;
    color: $whiteColor;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: $font-size;
    font-weight: 100;
    letter-spacing: 10px;
    margin: 10px auto ;
    border: 1px solid #333;
    border-radius: 4px;
}