.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: rgb(3, 37, 65);
  width: 100%;
  padding: 0 6%;

  ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    margin-left: 20px;
  }
}

a.login {
  margin: 0;
}
.header__function {
  display: flex;
  justify-self: flex-end;
}

.button {
  background-color: #6a95f1;
  border: none;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}
