@import "./../../assets/variables/variable.scss";

body {
  background: $primary-background;
  font-family: $body-font;
}

.formContainer {
  border-radius: 5px;
  border: 1px solid #410218;
  background-color: #201a25;
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 5px 5px #888888;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: $label-color;
  font-size: 20px;
  font-weight: 200;
}

input,
select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $whiteColor;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

button[type="submit"] {
  @include buttonStyle(#f62b72, 16px);
}

button[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

p {
  color: $error-color;
}

.text {
  font-size: 14px;
}

a {
  color: aqua;
  text-decoration: none;
}
